
{% extends 'base.html' %}
{% block content %}
    
    {% if error %}
    	{{ error }}
    {% endif %} 

    <h1>{{ userTodo.title }}</h1>  
    <p>{{ userTodo.memo }}</p>
    <h4>{{ userTodo.createdDate }}</h4>
    <br> <br> <br>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

{#   the reason we are using todo.id after the viewTodo is viewTodo url needs and int number as we set in ulrs.py so it needs and int number and we give the object id as the number#}
    <form action="{% url 'completeTodo' userTodo.id %}" method="post">   
        {% csrf_token %}
        <button type="submit">Complete</button>
    </form>

    <form action="{% url 'deleteTodo' userTodo.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    

{% endblock content %}


